/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/07/2015, 10:24:15
    Author     : Dell
*/

html{
    margin: 0em; 
    padding: 0em;
     
}
.boxlogin{
    border-radius: 3px;
    margin: 75px auto;
    width: 320px;
    
}
input[type="submit"]{
    margin-top: 10px;
}